@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");

.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(31, 31, 31);
  font-family: "Roboto";

}

.chat-iframe {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 2px solid white;
}
